[submodule "thirdparty/tinyxml2"]
	path = thirdparty/tinyxml2
	url = https://github.com/leethomason/tinyxml2
[submodule "thirdparty/curlpp"]
	path = thirdparty/curlpp
	url = https://github.com/jpbarrette/curlpp
[submodule "thirdparty/asio"]
	path = thirdparty/asio
	url = https://github.com/chriskohlhoff/asio
[submodule "thirdparty/curl"]
	path = thirdparty/curl
	url = https://github.com/curl/curl
[submodule "thirdparty/integration-service"]
	path = thirdparty/integration-service
	url = https://github.com/eProsima/Integration-Service
