<?xml version="1.0"?>
<is>
    <profiles>
        <participant profile_name="ros2">
            <rtps>
                <builtin>
                    <domainId>0</domainId>
                </builtin>
            </rtps>
        </participant>

        <subscriber profile_name="ros2_subscriber">
            <topic>
                <name>rt/chatter</name>
                <dataType>std_msgs::msg::dds_::String_</dataType>
            </topic>
            <historyMemoryPolicy>DYNAMIC</historyMemoryPolicy>
        </subscriber>

    </profiles>

    <bridge name="ngsiv2">
        <library>libisbridgengsiv2lib.so</library> <!-- Path to the NGSIv2 library -->

        <publisher name="ngsiv2_publisher">
            <property>
                <name>host</name>
                <value>localhost</value>
            </property>
            <property>
                <name>port</name>
                <value>1026</value>
            </property>
        </publisher>
    </bridge>

    <connector name="domain_change">
        <subscriber participant_profile="ros2" subscriber_profile="ros2_subscriber"/>
        <publisher bridge_name="ngsiv2" publisher_name="ngsiv2_publisher"/>
        <transformation file="build/libuserlib.so" function="transform"/>
    </connector>
</is>
