<?xml version="1.0"?>
<is>
	<bridge>
		<bridge_type>unidirectional</bridge_type>
		<subscriber>
			<participant>fastrtps_subscriber</participant>
			<domain>0</domain>
			<topic>HelloWorldTopic</topic>
			<type>HelloWorld</type>
		</subscriber>
		<publisher>
			<participant>ros2_publisher</participant>
			<domain>0</domain>
			<topic>chatter</topic>
			<type>std_msgs::msg::dds_::String_</type>
            <partition>rt</partition>
		</publisher>
		<!-- Windows -->
		<transformation>C:/dev/ros2/src/ros2/firos2/examples/helloworld/build/Release/userlib.dll</transformation>
		<bridge_library>C:/dev/ros2/src/ros2/firos2/thirdparty/integration-services/build/Release/isrtpsbridgelib.dll</bridge_library>
		<!-- Linux -->
		<!--<transformation>/home/luisgp/ros2_ws/src/ros2/firos2/examples/helloworld/build/libuserlib.so</transformation>-->
	</bridge>
</is>
