<?xml version="1.0"?>
<is>
    <topic_types>
        <type name="ROS2_Type">
            <participants>
                <participant name="ros2_participant"/>
            </participants>
        </type>
    </topic_types>

    <profiles>

        <participant profile_name="ros2_participant">
            <rtps>
                <builtin>
                    <domainId>ros2_domain</domainId>
                </builtin>
            </rtps>
        </participant>

        <subscriber profile_name="ros2_subscriber">
            <topic>
                <name>ROS2_Topic</name>
                <dataType>ROS2_Type</dataType>
            </topic>
            <qos>
                <partition>
                    <names>
                        <name>rt</name>
                    </names>
                </partition>
            </qos>
            <historyMemoryPolicy>DYNAMIC</historyMemoryPolicy>
        </subscriber>

        <publisher profile_name="ros2_publisher">
            <topic>
                <name>ROS2_Topic</name>
                <dataType>ROS2_Type</dataType>
            </topic>
            <qos>
                <partition>
                    <names>
                        <name>rt</name>
                    </names>
                </partition>
            </qos>
            <historyMemoryPolicy>DYNAMIC</historyMemoryPolicy>
        </publisher>
    </profiles>

    <!-- Declares a custom bridge named 'bridge_ngsiv2' -->
    <bridge name="bridge_ngsiv2">
        <library>/path/to/ngsiv2bridge.so</library> <!-- Path to the NGSIv2 library -->

        <reader name="sub_ngsiv2">
            <property>
                <name>id</name>
                <value>entity_idPattern</value>
            </property>
            <property>
                <name>host</name>
                <value>context_broker_host</value>
            </property>
            <property>
                <name>port</name>
                <value>context_broker_port</value>
            </property>
            <property> <!-- optional -->
                <name>type</name>
                <value>entity_type</value>
            </property>
            <property> <!-- optional, comma separated values -->
                <name>attrs</name>
                <value>attr1[,attr2...]</value>
            </property>
            <property> <!-- optional -->
                <name>expression</name>
                <value>condition_expression</value>
            </property>
            <property> <!-- optional, comma separated values -->
                <name>notif</name>
                <value>notif_attr1[,notif_attr2...]</value>
            </property>
            <property>
                <name>listener_host</name>
                <value>our_listener_host</value>
            </property>
            <property>
                <name>listener_port</name>
                <value>our_listener_port</value>
            </property>
            <property>
                <name>listener_buffer_size</name> <!-- optional. In KB, if not specified, 2KB -->
                <value>our_listener_buffer_size</value>
            </property>
            <property> <!-- optional -->
                <name>expiration</name>
                <value>subscription_expiration_time</value>
            </property>
            <property> <!-- optional -->
                <name>throttling</name>
                <value>subscription_throttling</value>
            </property>
            <property> <!-- optional -->
                <name>description</name>
                <value>subscription_description</value>
            </property>
        </reader>

        <writer name="pub_ngsiv2">
            <property>
                <name>host</name>
                <value>context_broker_host</value>
            </property>
            <property>
                <name>port</name>
                <value>context_broker_port</value>
            </property>
        </writer>
    </bridge>


    <connector name="ros2_ngsiv2">
        <reader participant_profile="ros2_participant" subscriber_profile="ros2_subscriber"/>
        <writer bridge_name="ngsiv2" writer_name="pub_ngsiv2"/>
        <transformation file="/path/to/libuserlib.so" function="transformToNGSIv2"/>
    </connector>

    <connector name="ngsiv2_ros2">
        <reader bridge_name="ngsiv2" reader_name="sub_ngsiv2"/>
        <writer participant_profile="ros2_participant" publisher_profile="ros2_publisher"/>
        <transformation file="/path/to/libuserlib.so" function="transformFromNGSIv2"/>
    </connector>
</is>
