<?xml version="1.0"?>
<is>
    <participant name="ros2_participant">
        <attributes>
            <domain>ros2_domain</domain>
        </attributes>

        <publisher name="ros2_publisher">
            <attributes>
                <topic>ROS2_Topic</topic>
                <type>ROS2_Type</type>
                <partition>rt</partition>
            </attributes>
        </publisher>

        <subscriber name="ros2_subscriber">
            <attributes>
                <topic>ROS2_Topic</topic>
                <type>ROS2_Type</type>
                <partition>rt</partition>
            </attributes>
        </subscriber>
    </participant>

    <!-- Declares a custom bridge named 'bridge_ngsiv2' -->
    <bridge name="bridge_ngsiv2">
        <library>/path/to/ngsiv2bridge.so</library> <!-- Path to the NGSIv2 library -->

        <subscriber name="sub_ngsiv2">
            <property>
                <name>id</name>
                <value>entity_idPattern</value>
            </property>
            <property>
                <name>host</name>
                <value>context_broker_host</value>
            </property>
            <property>
                <name>port</name>
                <value>context_broker_port</value>
            </property>
            <property> <!-- optional -->
                <name>type</name>
                <value>entity_type</value>
            </property>
            <property> <!-- optional, comma separated values -->
                <name>attrs</name>
                <value>attr1[,attr2...]</value>
            </property>
            <property> <!-- optional -->
                <name>expression</name>
                <value>condition_expression</value>
            </property>
            <property> <!-- optional, comma separated values -->
                <name>notif</name>
                <value>notif_attr1[,notif_attr2...]</value>
            </property>
            <property>
                <name>listener_host</name>
                <value>our_listener_host</value>
            </property>
            <property>
                <name>listener_port</name>
                <value>our_listener_port</value>
            </property>
            <property>
                <name>listener_buffer_size</name> <!-- optional. In KB, if not specified, 2KB -->
                <value>our_listener_buffer_size</value>
            </property>
            <property> <!-- optional -->
                <name>expiration</name>
                <value>subscription_expiration_time</value>
            </property>
            <property> <!-- optional -->
                <name>throttling</name>
                <value>subscription_throttling</value>
            </property>
            <property> <!-- optional -->
                <name>description</name>
                <value>subscription_description</value>
            </property>
        </subscriber>

        <publisher name="pub_ngsiv2">
            <property>
                <name>host</name>
                <value>context_broker_host</value>
            </property>
            <property>
                <name>port</name>
                <value>context_broker_port</value>
            </property>
        </publisher>
    </bridge>


    <connector name="ros2_ngsiv2">
        <subscriber participant_name="ros2_participant" subscriber_name="ros2_subscriber"/>
        <publisher participant_name="ngsiv2" publisher_name="pub_ngsiv2"/>
        <transformation file="/path/to/libuserlib.so" function="transformToNGSIv2"/>
    </connector>

    <connector name="ngsiv2_ros2">
        <subscriber participant_name="ngsiv2" subscriber_name="sub_ngsiv2"/>
        <publisher participant_name="ros2_participant" publisher_name="ros2_publisher"/>
        <transformation file="/path/to/libuserlib.so" function="transformFromNGSIv2"/>
    </connector>
</is>
