<?xml version="1.0"?>
<is>
    <participant name="ros2">
        <attributes>
            <domain>0</domain>
        </attributes>

        <publisher name="ros2_publisher">
            <attributes>
				<topic>chatter</topic>
				<type>std_msgs::msg::dds_::String_</type>
	            <partition>rt</partition>
            </attributes>
        </publisher>
    </participant>

    <bridge name="ngsiv2">
        <library>libisbridgengsiv2lib.so</library> <!-- Path to the NGSIv2 library -->

        <subscriber name="ngsiv2_subscriber">
            <property>
                <name>host</name>
                <value>localhost</value>
            </property>
            <property>
                <name>port</name>
                <value>1026</value>
            </property>
            <property>
                <name>id</name>
                <value>Helloworld</value>
            </property>
            <property>
                <name>type</name>
                <value>Helloworld</value>
            </property>
            <property>
                <name>notifs</name>
                <value>count</value>
            </property>
            <property>
                <name>listener_host</name>
                <value>localhost</value>
            </property>
            <property>
                <name>listener_port</name>
                <value>12345</value>
            </property>
        </subscriber>
    </bridge>

    <connector name="domain_change"> 
        <subscriber participant_name="ngsiv2" subscriber_name="ngsiv2_subscriber"/>
        <publisher participant_name="ros2" publisher_name="ros2_publisher"/>
        <transformation file="/home/luisgp/ros2_ws/src/ros2/firos2/examples/helloworld_ros2/build/libuserlib.so" function="transform"/>
    </connector>
</is>
