<?xml version="1.0"?>
<is>
	<bridge>
		<bridge_type>unidirectional</bridge_type>
		<subscriber>
			<participant>ngsiv2_subscriber</participant>
			<id>Helloworld</id>
			<host>localhost</host>
			<port>1026</port>
			<subscription>
				<type>Helloworld</type> <!-- optional -->
				<notifs>count</notifs> <!-- comma separated -->
				<listener_host>localhost</listener_host>
				<listener_port>12345</listener_port>
			</subscription>
		</subscriber>
		<publisher>
			<participant>ros2_publisher</participant>
			<domain>0</domain>
			<topic>chatter</topic>
			<type>std_msgs::msg::dds_::String_</type>
			<partition>rt</partition>
		</publisher>
		<transformFromNGSIv2>/home/luisgp/ros2_ws/src/ros2/firos2/examples/helloworld_ros2/build/libuserlib.so</transformFromNGSIv2>
		<bridge_library>libisngsiv2rtpsbridgelib.so</bridge_library>
	</bridge>
</is>
