<?xml version="1.0"?>
<firos>
	<bridge>
		<subscriber>
			<participant>ros2_participant</participant>
			<domain>0</domain>
			<topic>imu</topic>
			<type>sensor_msgs::msg::dds_::Imu_</type>
		</subscriber>
		<publisher>
			<participant>fastrtps_participant</participant>
			<domain>0</domain>
			<topic>OutputPubSubTopic</topic>
			<type>Output</type>
		</publisher>
		<transformation>/home/javierih/ros2_ws/src/ros2/firos2/resource/user_functions/build/libtestlib.so</transformation>
	</bridge>
</firos>
