<!-- example config.xml for NGSIv2 builtin bridges. -->

<rs>
    <bridge>
        <bridge_type>ngsiv2</bridge_type>
        <ros2>
            <participant>ros2_participant_name</participant>
            <domain>0</domain>
            <topic>ros2_topic_name</topic>
            <type>ros2_type_name</type>
            <partition>ros2_partition</partition>
        </ros2>
        <ngsiv2>
            <participant>ngsiv2_participant_name</participant>
            <id>ngsiv2_entity_id</id>
            <host>ngsiv2_host</host>
            <port>ngsiv2_port</port>
            <subscription>
                <type>ngsiv2_entity_type</type> <!-- optional -->
                <attrs>ngsiv2_condition_attrs_list</attrs> <!-- optional, comma separated -->
                <expression>ngsiv2_condition_expression</expression> <!-- optional -->
                <notifs>ngsiv2_notification_attrs_list</notifs> <!-- comma separated -->
                <listener_host>listener_host</listener_host>
                <listener_port>listener_port</listener_port>
                <expiration>ngsiv2_expiration_time</expiration> <!-- optional -->
                <throttling>ngsiv2_throttling</throttling> <!-- optional -->
                <description>ngsiv2_description</description> <!-- optional -->
            </subscription>
        </ngsiv2>
        <transformation>/path/to/transformation/library</transformation>
        <bridge_library_ros2>/path/to/bridge/library_1</bridge_library_ros2>
        <bridge_library_ngsiv2>/path/to/bridge/library_2</bridge_library_ngsiv2>
    </bridge>
</rs>
